.collection {
  border: 0 !important;
}

.collection-item {
  border: 0 !important;
}

#searchHistory {
  padding: 0;
  margin: 0;
  list-style: none;
}

#searchHistory li:hover {
  color: teal;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Pop up style */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin: auto;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
}
